.footer {
	position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3rem var(--padding-container-x);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--border-small);
  color: var(--light-grey);
}
.logo {
  width: 2rem;
 
}