.whole_wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.bottom_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--padding-container-x);
  align-items: flex-end;
}
.logo {
  width: 2rem;
  height: 2rem;
}
.title, .description {
  font-size: 1.5vw;
}
.title_wrap {
  padding: var(--padding-container-x);
  font-size: 4.5vw
}