---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { Image, Picture } from '@astrojs/image/components';
---

<Layout title="lach.lan">
	<main>
		<div class="whole_wrap">
			<div>
				<Header />
				<div class="inner_container">
					<h1>Blender Basics - Building a clock</h1>
					<p class="subtitle">With the physical world failing me, I turned to the digital.</p>
					<p class="description">The prompt was to design and manufacture clock using 3mm sheets of acrylic with standard clock hands and mechanism. I modified this by making custom clock hands. With the physical product being, interesting, I turned to 3D modelling.</p>

					<video controls autoplay loop muted class="top_video">
						<source src="/assets/projects/blender/render1_final.mp4" type="video/mp4">
					</video>
					<div class="photo_container">
						<Image class="large_image" src="/public/assets/projects/blender/final-render.png" width={960} height={540} alt="The top of the flower shaped clock photographed at a 45 degree angle" loading="lazy" />
						<Image class="large_image" src="/assets/projects/blender/final-render2.png" width={960} height={540} alt="The inside of the clock showed with an exploded view" loading="lazy" />
						<Image class="large_image" src="/assets/projects/blender/final-render4.png" width={960} height={540}  alt="A close-up of the pettles of the clock" loading="lazy" />
						<Image class="large_image" src="/assets/projects/blender/final-render5.png" width={960} height={540} alt="An exploded view of the clock" loading="lazy" />
					</div>	
				</div>
			</div>
		</div>
	</main>
</Layout>
<style>
	.description {
		color: var(--light-grey);
		width: 75%;
		margin-top: 1rem;
	}
	.subtitle {
		font-size: 1.2em;
	}
	.inner_container {
		padding: 1rem;
	}
	.large_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top_video {
	margin-top: 1rem;
	width: 100%;
}
	.photo_container {
		margin-top: 0.5rem;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
	}
	@media (min-width: 768px) {
		.photo_container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>
