---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="lach.lan">
	<main>
		<div class="whole_wrap">
			<div>
				<Header />
				<div class="title_wrap">
					<h1>The Internet Residence of Lachlan Kemp.</h1>
				</div>
			</div>
			<div class="bottom_container">
				<p class="description">Hey there! I&apos;m Lachlan Kemp, <br /> currently creating various things with JavaScript. Check out my most <a href="/dt-render" class="link">recent project</a>.</p>
				<img class="logo" src="/assets/logos/logo.svg" alt="The lachlan kemp logo featuring 2, corner cut squares intersecting to form a box." />
			</div>
		</div>
	</main>
</Layout>

<style>.whole_wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.bottom_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--padding-container-x);
  align-items: flex-end;
}
.logo {
  width: 2rem;
  height: 2rem;
}
.title, .description {
  font-size: 1.5vw;
}
.description {
	font-size: larger;
	padding-right: 2rem;
}
.title_wrap {
  padding: var(--padding-container-x);
  font-size: 4.5vw
}</style>