@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

@font-face {
  font-family: 'SpaceGrotesk';
  src: url("/fonts/SpaceGrotesk/woff2/static/SpaceGrotesk-Regular.woff2") format("woff2"),
  url("/fonts/SpaceGrotesk/ttf/static/SpaceGrotesk-Regular.ttf") format("truetype"),
  url("/fonts/SpaceGrotesk/woff/static/SpaceGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url("/fonts/SpaceGrotesk/woff2/static/SpaceGrotesk-Bold.woff2") format("woff2"),
  url("/fonts/SpaceGrotesk/ttf/static/SpaceGrotesk-Bold.ttf") format("truetype"),
  url("/fonts/SpaceGrotesk/woff/static/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: 700;
}

dialog::backdrop {
  background-color: #00000082;
}

h1 {
  font-feature-settings: "ss01", "ss02", "ss03", "ss04", "zero", "pnum", "lnum", "kern", "frac";
}
@layer utilities {
  .highlighted {
    @apply bg-indigo-200 text-indigo-700 rounded-md;
  }
}

@layer base {
  body {
    @apply font-body;
  }
  h1 {
    @apply text-slate-100 font-display tracking-extra text-5xl font-black; 
    
  }
  h2 {
    @apply text-indigo-300 font-display font-bold text-3xl;
  }
  p {
    @apply text-light
  }
  input {
    @apply text-light py-3 px-4 w-full hover:border-slate-500  border-2 border-slate-600 bg-slate-700 hover:outline-offset-2 hover:outline outline-slate-600 transition-all rounded-lg disabled:text-slate-400 disabled:cursor-not-allowed ; 
  }
  select {
    @apply bg-slate-800 rounded-lg
  }
  a.link {
    @apply text-blue-400
  }
}
@layer components {
  /* Code */
  .mono {
    @apply bg-slate-700 relative inline px-1 rounded-sm text-slate-300
  }

  
  /* Titles */
  .subtitle {
    @apply text-xl mt-2 mb-6 text-slate-400 
  }
  .header-link > a {
    @apply text-light;
  }
}

.full-bleed {
  width: 100% !important;
  grid-column: 1 / 4 !important;
}
.no-outline {
  outline: none !important;
}


.skip-to-content {
  position: absolute;
  left: 0%;
  top: -4rem;
  --tw-translate-y: 4rem;
  padding: .75rem 1rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
}
.skip-to-content:focus {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.fadeIn {
  animation: fadeIn 0.25s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}