@tailwind base;
@tailwind components;
@tailwind utilities;

.full-bleed {
  width: 100% !important;
  grid-column: 1 / 4 !important;
}
.no-outline {
  outline: none !important;
}
.skip-to-content {
  position: absolute;
  left: -25%;
  top: -3rem;
  --tw-translate-y: 3rem;
  padding: .75rem 1rem;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
}
.skip-to-content:focus {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}