@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}
@layer base {
  h1 {
    @apply dark:text-cool-gray-300 text-cool-gray-700 font-extrabold	
  }
}
@layer components {
  .italicLink {
    @apply inline-block cursor-pointer transform transition-all hover:-skew-x-12;
  }
  .active--headerLink {
    @apply text-cool-gray-400;
  }
  .footer--item {
    @apply text-cool-gray-700 hover:text-cool-gray-500 dark:text-cool-gray-400 dark:hover:text-cool-gray-600 p-2 pl-0
  }
}
.artists>li::after {
  content: ",";
}
.artists>li:last-child::after {
  content: "";
}
.song-progress::-moz-progress-bar {
  @apply dark:bg-blue-400 bg-blue-600;
}
.song-progress::-webkit-progress-value {
  @apply dark:bg-blue-400 bg-blue-600;
}
.song-progress::-webkit-progress-bar {
  @apply dark:bg-cool-gray-700 bg-cool-gray-400;
}
.scroll-text {
  /* animation properties */
  transform: translateX(100%);

  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}